
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/secrets/dev/dev.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/public/uploads/

###> PHP Documentor
/.phpdoc/cache
###< PHP Documentor

###> emacs temporary files
*~
###< emacs temporary files
