<div class="topic-title">
    Die Patriarchen, Erzbischöfe, Bischöfe, Weihbischöfe und weitere diözesane Leitungspersonen des Alten Reiches <a href="{{ path('reference_list') }}"><span class="text-nowrap">(nach Erwin Gatz)</span></a>
</div>
