body {
    font-family: ArialMT, Arial, sans-serif;
    color: #444;
}

.wiag-large {
    font-size: large;
}

.topic-title {
    font-size: large;
    font-weight: bold;
}

.wiag-id {
    font-size: normal;
}

.comment {
    color: #484;
}


.dio {
    text-transform: uppercase;
    color: #068;
}

.gs {
    color: #a33;
}

footer {
    background-color: #efefee;
}
