body {
    font-family: Georgia, ui-serif;
    color: #444;
}

.wiag-large {
    font-size: large;
}

.wiag-id {
    font-size: normal;
}

.comment {
    color: #668;
}


.dio {
    text-transform: uppercase;
    color: #068;
}

.gs {
    color: #a33;
}

footer {
    background-color: #efefee;
}
