{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid mt-3">
	<div class="row">
	    <div class="col-sm-4"></div>
	    <div class="col-sm-4">
		<span style="font-size: 1.5em">{{ message }}</span>
	    </div>
	    <div class="col-sm-4"></div>
	</div>
    </div>
{% endblock %}
