{% extends 'base.html.twig' %}

{% import 'basemacros.html.twig' as bmc%}

{% block body %}
    <div class="container-md p-2">
	<h3>Strukturierung, Standardisierung und Bereitstellung von Forschungsdaten aus Sach- und Schriftquellen des Mittelalters und der Frühen Neuzeit</h3>
	<p>WIAG stellt als eine frei verfügbare, browserbasierte Anwendung
	    Forschungsdaten aus Sach- und Schriftquellen des Mittelalters und der Frühen
	    Neuzeit zur Verfügung. Die Forschungsdaten werden gut erreichbar, interoperabel und
	    nachnutzbar aufbereitet und veröffentlicht.
	    Eingebettet in eine fachspezifische Wissensplattform,
	    ermöglicht ein Redaktionssystem die Strukturierung, Standardisierung und
	    Bereitstellung von Forschungsdaten.</p>
	<p>Mit den umfangreichen Datensammlungen der
	    Akademieprojekte {{ bmc.a_di() }} und {{ bmc.a_gs() }} kann eine
	    zentrale Wissensbasis für die Mittelalter- und Frühneuzeitforschung geschaffen
	    werden. WIAG kombiniert die Vorteile einer freien und kollaborativ erarbeiteten
	    Datensammlung mit qualitätssichernden Standards kontrollierter Normdateien. Mit
	    WIAG sollen innovative Wege aufgezeigt werden, wie das (häufig noch analoge)
	    Expertenwissen von Forscherinnen und Forschern fachspezifischer
	    Wissens-Communities Eingang in die weltweite digitale Wissensbasis finden
	    kann.</p>
	<p> Das interdisziplinäre Forschungsprojekt {{ bmc.a_di() }} sammelt und
	    erschließt Inschriften aus dem Mittelalter und der Frühen Neuzeit, die sich auf
	    Objekten wie Grabdenkmälern, kirchlichen Ausstattungsstücken und Hausfassaden
	    finden lassen.
	    Die {{ bmc.a_gs() }} hat zur Aufgabe, die Quellen der Kirche des Alten
	    Reiches zu erschließen, das überlieferte Material aufzubereiten und in
	    Handbuchformat zu publizieren. Der Untersuchungszeitraum erstreckt sich vom
	    3./4. Jahrhundert bis zum Beginn des 19. Jahrhunderts.
	    Sowohl die Deutschen Inschriften als auch die Germania Sacra haben
	    bereits digitale Ressourcen und Tools entwickelt, die für die Entwicklung von
	    WIAG übernommen werden.</p>
    </div>
{% endblock %}
