{% extends 'base.html.twig' %}
{% set menuItem='service' %}

{% block body %}
    <div class="container-sm">
	<div class="row col-12 m-2">
	    <p>Die in WIAG aufbereiteten Datensammlungen können über den Bereich <a href="https://adw-goe.de/germania-sacra/datenservice/"><strong>Datenservice</strong></a> auf der Projekthomepage der Germania Sacra aufgerufen werden.</p></div>
    </div>
{% endblock %}
