{% extends 'base.html.twig' %}

{% import 'basemacros.html.twig' as bmc%}

{% block body %}
    <div class="container-md p-2">
	<h3>Version</h3>
	<p>Bis zum Ende der Laufzeit des <a href="{{ path('wiag_about') }}">Projekts</a> am 31.12.2022 wird die WIAG Website
	    in einer Open-Beta Version veröffentlicht.</p>
    </div>
{% endblock %}
