{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
	<img src="{{ asset('images/Euklid-und-Hermann-1024.jpg') }}"
	     class="img-fluid p-5"
	     alt="Euklid und Hermann von Carinthia">
    </div>
{% endblock %}
