{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
	<div class="row justify-content-center">
	    <figure role="group" class="col col-lg-8 pt-3">
		<img src="{{ asset('images/WIAG-netz-md.png') }}"
		     class="img-fluid"
		     alt="Vernetzte Daten in WIAG">
	    </figure>
	</div>
    </div>
{% endblock %}
