{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
	<figure role="group">
	    <img src="{{ asset('images/Euklid-und-Hermann-1024.jpg') }}"
		 class="img-fluid p-5"
		 alt="Euklid und Hermann von Carinthia">
	    <div class="mx-auto" style="width: 750px;">
		<figcaption>Euklid und Herman Dalmatin (auch Hermann von Carinthia), siehe auch
		    <a href="https://digital.bodleian.ox.ac.uk/inquire/p/7aaf3399-d43e-445f-8705-14f496b2ee80">Bodleian Libraries</a>
		</figcaption>
	    </div>
	</figure>
    </div>
{% endblock %}
