
$font-family-sans-serif:   "Nunito Sans", Helvetica, ArialMT, Arial, sans-serif;

$font-weight-bold:         600;

$body-color:               #322;

$dropdown-color:           #070;

$border-radius:            .1rem;

$link-color:               #a22;
