{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid mt-3">
	<div class="row mx-2 col-12">
	    <span class="topic-title mb-3">Referenzwerke für Domherren des Alten Reiches</span>
	</div>
	<div class="row mx-2 col-12">
	    <div class="table-responsive">
		<table class="table">
		    <tbody>
			{% for reference in references|sort((a, b) => a.id <=> b.id) %}
			    <tr>
				{% if link_path is defined %}
				    <td><a href="{{ path(link_path, {'id': reference.id}) }}">{{ reference.id }}</a></td>
				{% endif %}
				<td>{{ reference.shorttitle }}</td>
				<td>{{ reference.title }}</td>
			    </tr>
			{% endfor %}
		    </tbody>
		</table>
	    </div>
	</div>
    </div>
{% endblock %}
