{% macro a_di() %}
    <a href="https://adw-goe.de/forschung/forschungsprojekte-akademienprogramm/deutsche-inschriften/" class="dio">Deutsche Inschriften (DI)</a>
{% endmacro %}

{% macro a_gs() %}
    <a href="https://adw-goe.de/forschung/forschungsprojekte-akademienprogramm/germania-sacra/" class="gs">Germania Sacra</a>
{% endmacro %}

